---
import { getCollection } from "astro:content";
import Main from "../../layouts/Main.astro";
import BlogDetail from "../../components/blog/BlogDetail.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
---

<Main title={entry.data.title}>
  <BlogDetail entry={entry} />
</Main>

<style is:global>
  mtd {
    text-align: start;
  }
  math {
    font-size: 125%;
  }

  .label {
    cursor: default;

    & + mtext {
      display: none;

      position: absolute;
      top: anchor(bottom);
      justify-self: anchor-center;
      pointer-events: none;

      padding: 5px 10px;
      border-radius: 5px;
      margin: 8px;
      border: 1px solid gray;
      background-color: white;
      z-index: 1;
      font-family: "Maven Pro Variable", sans-serif;
      font-size: 14px;

      max-width: 200px;
    }

    &:hover {
      color: red !important;
    }

    &:hover + mtext {
      display: block;
    }
  }
</style>
