---
import type { CollectionEntry } from "astro:content";
import Source from "./Source.astro";
import Techs from "./Techs.astro";
import { type SourceType } from "../../types";

interface Props {
  entry: CollectionEntry<"hobbies">;
}

const { entry } = Astro.props;

const sources = Object.entries(entry.data.sources) as [SourceType, string][];
---

<div class="info">
  {sources.map(([type, id]) => <Source type={type} id={id} />)}
  <Techs techs={entry.data.techs} />
</div>

<style>
  .info {
    font-family: "Cutive Mono", monospace;
    display: inline-block;
    vertical-align: bottom;
    width: 180px;
  }

  @media (min-width: 650px) {
    .info {
      padding-left: 20px;
    }
  }
</style>
