---
import { getCollection } from "astro:content";
import Skills from "./Skills.astro";
import HobbyItem from "./HobbyItem.astro";

const entries = (await getCollection("hobbies")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
---

<section>
  <h1>Hobby Projects</h1>
  <Skills />
  <div class="hobby-items">
    {entries.map((item) => <HobbyItem full={true} entry={item} />)}
  </div>
</section>

<style>
  .hobby-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill, auto);
    grid-row-gap: 80px;
    grid-column-gap: 50px;
  }

  @media screen and (min-width: 650px) {
    .hobby-items {
      grid-row-gap: 130px;
    }
  }

  @media screen and (min-width: 1200px) {
    .hobby-items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
