---
import { getCollection } from "astro:content";
import Button from "../Button.astro";
import HobbyItem from "./HobbyItem.astro";

const entries = (
  await getCollection("hobbies", ({ data }) => {
    return data.highlight === true;
  })
).sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<section>
  <h1>Hobby Projects</h1>
  <div class="hobby-items">
    {entries.map((entry) => <HobbyItem entry={entry} />)}
  </div>
  <Button href="/hobbies">Show more</Button>
</section>

<style is:global>
  .hobby-items {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    margin: 40px 0 50px 0;
  }

  @media screen and (max-width: 1756px) {
    .hobby-items article:nth-child(7) {
      display: none;
    }
  }

  @media screen and (max-width: 1173px) {
    .hobby-items article:nth-child(8),
    .hobby-items article:nth-child(9) {
      display: none;
    }
  }
</style>
