---
import Main from "../layouts/Main.astro";
import Header from "../components/home/Header.astro";
import WorkSummary from "../components/work/WorkSummary.astro";
import HobbySummary from "../components/hobby/HobbySummary.astro";
---

<Main title="Hunor Márton Borbély">
  <Header />
  <WorkSummary />
  <HobbySummary />
</Main>
