---
import Main from "../layouts/Main.astro";
import Header from "../components/Header.astro";
import WorkSummary from "../components/WorkSummary.astro";
import HobbySummary from "../components/HobbySummary.astro";
---

<Main title="Hunor Márton Borbély">
  <Header />
  <WorkSummary />
  <HobbySummary />
</Main>
