---
import Button from "../Button.astro";
import Title from "./Title.astro";
---

<section>
  <Title>Hello, I'm Hunor</Title>
  <h2>Web developer with an interest in UX design</h2>
  <p class="description">
    I specialize in front-end and web app development, with a focus on visually
    complex projects. I enjoy teaching and UX design, and share my hobby
    projects on <a
      href="http://codepen.io/HunorMarton/"
      target="_blank"
      rel="noopener">CodePen</a
    >, tutorials on <a
      href="https://www.youtube.com/@HunorMartonBorbely"
      target="_blank"
      rel="noopener">YouTube</a
    >, and articles on <a
      href="https://www.freecodecamp.org/news/author/hunor/"
      target="_blank"
      rel="noopener">freeCodeCamp</a
    >.
  </p>
  <Button href="/contact" primary>Get in touch</Button>
</section>

<style>
  h2 {
    font-family: "Figtree Variable", sans-serif;
    font-weight: 600;

    max-width: 700px;
    font-size: 28px;

    color: #898ea2;
  }

  .description {
    max-width: 700px;
    margin-top: 1.5em;

    font-family: "Maven Pro Variable", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 17.5px;
    line-height: 1.6em;
  }

  section {
    a {
      margin: 40px 0;
    }
  }
</style>
