---
interface Props {
  href: string;
  primary?: boolean;
  external?: boolean;
}

const { href, primary, external } = Astro.props;
const target = external ? "_blank" : "_self";
---

<a href={href} class:list={[{ primary }]} target={target}><slot /></a>

<style>
  a {
    display: block;
  }

  .primary {
    display: inline-block;
  }
</style>
