---
interface Props {
  href: string;
  primary?: boolean;
}

const { href, primary } = Astro.props;
---

<a href={href} class:list={[{ primary }]}><slot /></a>

<style>
  a {
    display: block;
  }

  .primary {
    display: inline-block;
  }
</style>
