---
interface Props {
  label: string;
  href: string;
  primary?: boolean;
}

const { label, href, primary } = Astro.props;
---

<a href={href} class:list={[{ primary }]}>{label}</a>

<style>
  a {
    display: block;
  }

  .primary {
    display: inline-block;
    margin: 40px 0;
  }
</style>
