<section>
  <h1>Contact</h1>

  <p>Fill up the form below to send me a message.</p>

  <form action="https://api.web3forms.com/submit" method="POST" id="form">
    <input
      type="hidden"
      name="access_key"
      value="fbfacd63-1e5d-40a1-9438-742aed88b252"
    />
    <input
      type="hidden"
      name="subject"
      value="New Submission from hunormarton.github.io"
    />
    <input
      type="hidden"
      name="redirect"
      value="https://web3forms.com/success"
    />
    <input type="checkbox" name="botcheck" id="" style="display: none;" />
    <div class="field">
      <label for="name">Full Name</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="John Doe"
        required
      />
    </div>
    <div class="field">
      <label for="email">Email Address</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="you@company.com"
        required
      />
    </div>
    <div class="field">
      <label for="message">Your Message</label>

      <textarea
        rows="5"
        name="message"
        id="message"
        placeholder="Your Message"
        required></textarea>
    </div>
    <div class="field">
      <button type="submit"> Send Message </button>
    </div>
  </form>
</section>

<style>
  section *:not(h1) {
    font-family: "Maven Pro Variable", sans-serif;
  }

  p {
    margin-bottom: 2rem;
  }

  .field {
    margin-bottom: 1.5rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 0.8rem;
    }

    input,
    textarea {
      padding: 0.5rem;
      border-radius: 0;
    }

    input,
    textarea {
      border: 1px solid #ccc;
      width: 500px;
      max-width: 100%;
    }

    textarea {
      aspect-ratio: 1/1;
    }
  }
</style>
