<section id="contact">
  <h1>Contact</h1>

  <div class="column">
    <a href="mailto:bor.hunor@gmail.com">E-mail</a>
  </div>

  <div class="column">
    <div class="icon">💬</div>
    <a
      href="https://www.linkedin.com/in/hunor-marton-borbely/"
      target="_blank"
      rel="noopener"
    >
      LinkedIn
    </a>
    <a href="https://twitter.com/HunorBorbely" target="_blank" rel="noopener">
      Twitter
    </a>
  </div>
  <div class="column">
    <div class="icon">👾</div>
    <a href="http://codepen.io/HunorMarton/" target="_blank" rel="noopener">
      CodePen
    </a>
    <a href="https://github.com/HunorMarton" target="_blank" rel="noopener">
      GitHub
    </a>
  </div>
  <div class="column">
    <div class="icon">📚</div>
    <a
      href="https://www.freecodecamp.org/news/author/hunor/"
      target="_blank"
      rel="noopener"
    >
      freeCodeCamp
    </a>
    <a
      href="https://css-tricks.com/author/hunorborbely/"
      target="_blank"
      rel="noopener"
    >
      CSS-Tricks
    </a>
  </div>
  <div class="column">
    <div class="icon">📺</div>
    <a
      href="https://www.youtube.com/@HunorMartonBorbely"
      target="_blank"
      rel="noopener"
    >
      YouTube
    </a>
    <a
      href="https://www.skillshare.com/profile/Hunor-Borb%C3%A9ly/3932130"
      target="_blank"
      rel="noopener"
    >
      Skillshare
    </a>
  </div>
</section>

<style>
  #contact {
    background-color: #f8f7f2;

    .icon {
      font-size: 1.5em;
    }

    a {
      display: block;
      line-height: 1.5em;
    }

    .column {
      display: inline-block;
      vertical-align: top;
      margin: 20px 80px 20px 0;
    }
  }

  #contact > div {
    margin-bottom: 15px;
  }

  #contact > div:first-of-type {
    a {
      background-color: lightgreen;
      line-height: 2em;
      padding: 25px 25px;
    }
  }
</style>
