#contact {
  padding-bottom: 50px;

  .icon {
    font-size: 1.5em;
  }

  a {
    display: block;
    line-height: 1.5em;
  }

  .column {
    display: inline-block;
    vertical-align: top;
    margin: 20px 80px 20px 0;
  }
}

#contact > div {
  margin-bottom: 15px;
}

#contact > div:first-of-type {
  background-color: lightgreen;
  padding: 10px 20px;
  a {
    line-height: 2em;
  }
}
