#contact {
  padding-bottom: 50px;
  background-color: #f8f7f2;

  .icon {
    font-size: 1.5em;
  }

  a {
    display: block;
    line-height: 1.5em;
  }

  .column {
    display: inline-block;
    vertical-align: top;
    margin: 20px 80px 20px 0;
  }
}

#contact > div {
  margin-bottom: 15px;
}

#contact > div:first-of-type {
  a {
    background-color: lightgreen;
    line-height: 2em;
    padding: 25px 25px;
  }
}
