#header {
  margin-bottom: 3em;
  font-family: 'Montserrat', sans-serif;

  .name {
    color: #444;
    font-size: 4em;

    font-weight: 900;

    .first-name {
      color: black;
    }
    margin-bottom: 0.3em;
  }
}
