---
import Button from "./Button.astro";
---

<section id="header">
  <div class="hi">Hi, I'm Hunor 👋</div>
  <div class="subheader">Web developer with an interest in UX design</div>
  <p class="description">
    I specialize in front-end and web app development, with a focus on visually
    complex projects. I enjoy teaching and UX design, and share my hobby
    projects on <a
      href="http://codepen.io/HunorMarton/"
      target="_blank"
      rel="noopener">CodePen</a
    >, tutorials on <a
      href="https://www.youtube.com/@HunorMartonBorbely"
      target="_blank"
      rel="noopener">YouTube</a
    >, and articles on <a
      href="https://www.freecodecamp.org/news/author/hunor/"
      target="_blank"
      rel="noopener">freeCodeCamp</a
    >.
  </p>
  <Button href="/contact" primary>Get in touch</Button>
</section>

<style>
  #header {
    font-family: "Montserrat", sans-serif;

    .hi {
      color: #192b3e;
      font-size: 3em;
      font-weight: 800;
      margin: 0.3em 0;
    }

    .subheader {
      margin: 4em 0 0em;
      max-width: 700px;
      font-size: 1.8em;
      font-weight: 700;
      color: #898ea2;
    }

    .job-title {
      color: #192b3e;
    }

    .description {
      font-family: "Montserrat", sans-serif;
      max-width: 700px;
      line-height: 1.8em;
      margin-top: 1.5em;
    }

    a {
      margin: 40px 0;
    }
  }
</style>
