@import '../styles/breakpoints';

#hobby article {
  display: inline-block;
  margin: 50px 0 50px 0;
  vertical-align: top;

  .date {
    color: gray;
    &::before {
      content: '// ';
    }
  }

  .info {
    display: inline-block;
    vertical-align: bottom;
    width: 180px;
  }
}

@media screen and (min-width: $desktop) {
  #hobby article {
    margin: 0;

    h1 {
      max-width: 500px;

      span {
        display: inline-block;
      }
    }

    .info {
      padding-left: 20px;
    }
  }
}
