---
import Button from "../components/Button.astro";
import HobbyItem from "../components/HobbyItem.astro";
import hobbyItems from "../data";
---

<section>
  <h1>Hobby Projects</h1>
  <div class="hobby-items">
    {
      hobbyItems
        .filter((item) => item.highlight)
        .map((item) => <HobbyItem data={item} />)
    }
  </div>
  <Button href="/hobbies" label="Show more" />
</section>

<style>
  .hobby-items {
    display: flex;
    row-gap: 80px;
    column-gap: 80px;
    flex-wrap: wrap;
    margin: 40px 0 50px 0;
  }

  @media screen and (min-width: 650px) {
    .hobby-items {
      grid-row-gap: 130px;
    }
  }

  @media screen and (min-width: 1200px) {
    .hobby-items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
