---
import Button from "../components/Button.astro";
import HobbyItem from "../components/HobbyItem.astro";
import hobbyItems from "../hobbies-data";
---

<section>
  <h1>Hobby Projects</h1>
  <div class="hobby-items">
    {
      hobbyItems
        .filter((item) => item.highlight)
        .map((item) => <HobbyItem data={item} />)
    }
  </div>
  <Button href="/hobbies" label="Show more" />
</section>

<style is:global>
  .hobby-items {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    margin: 40px 0 50px 0;
  }

  @media screen and (max-width: 1756px) {
    .hobby-items article:nth-child(7) {
      display: none;
    }
  }

  @media screen and (max-width: 1173px) {
    .hobby-items article:nth-child(8),
    .hobby-items article:nth-child(9) {
      display: none;
    }
  }
</style>
