<nav>
  <a href="/">home</a>
  <a href="/hobbies">hobbies</a>
  <a href="/resume">résumé</a>
  <a href="#contact">contact</a>
</nav>

<style>
  nav {
    position: fixed;
    background-color: lightgray;
    right: 0;
    top: 0;
    height: var(--nav-height);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 10px;
    transform: rotate(-90deg);
    transform-origin: bottom right;
    z-index: 10;

    a {
      display: inline-block;
      margin: 0 10px;
      transform: rotate(180deg);
      color: gray;
      font-size: 1.1em;
      text-decoration: none;

      transition: color 0.5s ease;

      &::after {
        content: "_";
      }

      &:hover {
        color: black;
      }
    }
  }

  @media screen and (min-width: 650px) {
    nav {
      right: 20px;
      top: 20px;

      a {
        font-size: 1.3em;
      }
    }
  }
</style>
