@import '../styles/breakpoints';

#portfolio article {
  display: inline-block;
  margin: 50px 0 50px 0;
  vertical-align: top;

  .date {
    color: gray;
    &::before {
      content: "// ";
    }
  }

  .info {
    display: inline-block;
    padding-left: 20px;
    vertical-align: bottom;
  }
}

@media screen and (min-width: $desktop) {
  #portfolio article {
    margin-right: 80px;
    margin-bottom: 80px;
  }
}
