@import '../styles/breakpoints';

.resume-block {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  margin: 50px 80px 80px 0;
  width: 100%;

  h3 {
    font-weight: normal;
  }

  .sub {
    font-size: 0.8em;
    color: gray;
  }

  img {
    width: 100%;
    cursor: pointer;
  }
}

@media screen and (min-width: $desktop) {
  .resume-block {
    width: 300px;
  }
}
