<>
  <div class="desktop">
    <div id="div1">
      <div class="frame">
        <div class="content"><slot /></div>
      </div>
      <div id="div2">
        <div class="frame">
          <div class="content"><slot /></div>
        </div>
        <div id="div3">
          <div class="frame">
            <div class="content"><slot /></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile">Hi, I'm Hunor 👋</div>
</>

<style lang="scss">
  $div1-width: 290px;
  $div2-width: 240px;
  $div3-width: 260px;
  $height: 200px;
  $color: #b0413e;
  $bg-color: rgb(228, 230, 235); // Same as var(--lightgray)

  $angle2: -40deg;
  $angle3: 50deg;

  .desktop,
  .mobile {
    font-family: "Maven Pro Variable", sans-serif;
    font-weight: 900;
  }

  .desktop {
    margin: 120px 0;
    font-size: 0;

    // Center
    white-space: nowrap;

    // 3D
    perspective: 400px;
    width: 850px;
    transform-style: preserve-3d;
  }

  #div1,
  #div2,
  #div3 {
    display: inline-block;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }

  .frame {
    overflow: hidden;
    height: $height;
    line-height: $height;

    font-size: 100px;

    display: inline-block;
  }

  #div1 {
    .frame {
      color: $color;
      background-color: $bg-color;

      width: $div1-width;
    }
  }

  #div2 {
    margin-left: -1px;
    transform-origin: left center;
    transform: rotateY($angle2);

    .frame {
      color: darken($color, 5%);
      background-color: darken($bg-color, 5%);

      width: $div2-width;

      .content {
        position: relative;
        left: -$div1-width;
      }
    }
  }

  #div3 {
    margin-left: -1px;
    transform-origin: left center;
    transform: rotateY($angle3);

    .frame {
      color: lighten($color, 5%);
      background-color: lighten($bg-color, 5%);

      width: $div3-width;

      .content {
        position: relative;
        left: -$div1-width - $div2-width;
      }
    }
  }

  .mobile {
    display: none;

    font-family: "Cutive Mono", monospace;
    color: #192b3e;
    font-size: 42px;
    font-weight: 800;
    margin: 40px 0;

    @media (min-width: 650px) {
      margin: 120px 0;
    }
  }

  @media (max-width: 960px) {
    .desktop {
      display: none;
    }

    .mobile {
      display: inline-block;
    }
  }

  #div1,
  #div1 > .frame,
  #div2,
  #div2 > .frame,
  #div3,
  #div3 > .frame {
    animation-duration: 0.7ms; /* Firefox requires this to apply the animation */
    animation-direction: forwards;
    animation-timeline: scroll(block nearest);
  }

  #div1 {
    animation-name: div1-animation;
  }

  #div1 > .frame {
    animation-name: div1-frame-animation;
  }

  #div2 {
    animation-name: div2-animation;
  }

  #div2 > .frame {
    animation-name: div2-frame-animation;
  }

  #div3 {
    animation-name: div3-animation;
  }

  #div3 > .frame {
    animation-name: div3-frame-animation;
  }

  @keyframes div1-animation {
    4% {
      transform: rotateX(0);
      transform-origin: left bottom;
    }

    10% {
      transform: rotateX(110deg);
    }
  }

  @keyframes div1-frame-animation {
    3% {
      background-color: $bg-color;
    }

    6% {
      background-color: transparent;
    }
  }

  @keyframes div2-animation {
    3% {
      transform: rotateY(0);
    }
  }

  @keyframes div2-frame-animation {
    3% {
      color: $color;
      background-color: $bg-color;
    }

    6% {
      background-color: transparent;
    }
  }

  @keyframes div3-animation {
    3% {
      transform: rotateY(0);
    }
  }

  @keyframes div3-frame-animation {
    3% {
      color: $color;
      background-color: $bg-color;
    }

    6% {
      background-color: transparent;
    }
  }
</style>
