---
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"work">;
}

const { entry } = Astro.props;

const { link, header, subheader, location, start, end } = entry.data;
---

<article>
  <h1>{header}</h1>
  <p>{subheader}</p>
  <p class="sub">{location}</p>
  <p class="sub">
    {
      new Intl.DateTimeFormat("en-US", {
        year: "numeric",
      }).format(start)
    } - {
      new Intl.DateTimeFormat("en-US", {
        year: "numeric",
      }).format(end)
    }
  </p>
  <div class="description">
    <slot />
  </div>
</article>

<style>
  article {
    font-family: "Maven Pro Variable", sans-serif;
    object-fit: contain;
    min-width: 150px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
  }

  @media (min-width: 900px) {
    article h1 {
      font-size: 2em;
      color: #898ea2;
    }
  }

  .sub {
    font-size: 0.8em;
    color: gray;
  }

  .description {
    font-family: "Maven Pro Variable", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9em;
    line-height: 1.6em;

    max-width: 550px;
  }
</style>
