---
import { getCollection } from "astro:content";
import ResumeItem from "./ResumeItem.astro";
import Button from "./Button.astro";

const workEntries = (await getCollection("work")).sort(
  (a, b) => b.data.start.getTime() - a.data.start.getTime()
);
---

<section>
  <h1>Work Experience</h1>
  <div class="work-items">
    {workEntries.map((item) => <ResumeItem entry={item} full={false} />)}
  </div>
  <Button href="/work">Show more</Button>
</section>

<style is:global>
  .work-items {
    display: flex;
    gap: 100px 80px;
    flex-wrap: wrap;
    margin: 50px 0 50px 0;
    container-type: inline-size;
  }

  .work-items article:nth-child(4) {
    display: none;
  }

  @container (min-width: 680px) {
    .work-items article:nth-child(4) {
      display: inline-block;
    }
  }

  @media (min-width: 900px) {
    .work-items {
      flex-wrap: nowrap;
    }

    .work-items article:nth-child(4) {
      display: none;
    }
  }

  @media screen and (min-width: 1100px) {
    .work-items article:nth-child(4) {
      display: inline-block;
    }
  }
</style>
