---
import { type CollectionEntry, render } from "astro:content";
import Tags from "./Tags.astro";

interface Props {
  entry: CollectionEntry<"blog">;
}

const { entry } = Astro.props;
const { remarkPluginFrontmatter } = await render(entry);
---

<div>
  <a href={`/blog/${entry.slug}`}>
    <h2>{entry.data.title}</h2>
  </a>
  <p>{remarkPluginFrontmatter.description}</p>

  <Tags tags={entry.data.tags} />
</div>

<style>
  div {
    width: var(--main-width);
  }
  h2 {
    font-family: "Figtree Variable", sans-serif;
  }

  p {
    font-family: "Source Sans 3 Variable", sans-serif;
  }

  a {
    max-width: 550px;
    text-underline-offset: 2px;
  }
</style>
