---
import { getCollection } from "astro:content";
import BlogPreview from "./BlogPreview.astro";

const entries = (await getCollection("blog"))
  .filter((a) => a.data.hidden !== true)
  .sort(
    (a, b) => b.data.published_time.getTime() - a.data.published_time.getTime()
  );
---

<section>
  <main>
    <h1>Blog</h1>
    <div class="blog-list">
      {entries.map((item) => <BlogPreview entry={item} />)}
    </div>
  </main>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
  }

  main {
    font-family: "Figtree Variable", sans-serif;
    overflow: hidden;

    display: grid;
    width: calc(var(--main-width) + var(--layout-gap) + var(--aside-width));
    margin: 50px 0 50px 0;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 2em;
  }
</style>
