---
import { getCollection } from "astro:content";
import BlogPreview from "./BlogPreview.astro";

const entries = (
  await getCollection("blog", ({ data }) => {
    return data.hidden !== true;
  })
).sort(
  (a, b) => b.data.published_time.getTime() - a.data.published_time.getTime()
);
---

<main>
  <h1>Blog</h1>
  {entries.map((item) => <BlogPreview entry={item} />)}
</main>

<style>
  @media (min-width: 1010px) {
    main {
      display: grid;
      grid-template-columns: var(--main-width) var(--aside-width);
      column-gap: var(--layout-gap);

      > * {
        grid-column: 1;
      }
    }
  }

  h1 {
    font-size: 2em;
    margin-bottom: 2em;
  }
</style>
