<div>
  <h3>What is Remark?</h3>
  <a href="https://github.com/remarkjs/remark">Remark</a> is a Markdown processor
  powered by plugins. With Remark, you can traverse and transform your Markdown content.
  Astro comes with built-in support for Remark.
</div>

<style>
  div {
    border: 1px solid var(--lightgray);
    padding: 1em 1em 1.5em 1em;
    margin: 15px 0;
    font-family: "Source Sans 3 Variable", sans-serif;

    h3 {
      margin-top: 0.5em;
    }
  }
</style>
