---
import "@fontsource-variable/maven-pro"; // Supports weights 400-900
import "@fontsource-variable/figtree"; // Supports weights 300-900
import "@fontsource-variable/source-sans-3"; // Supports weights 200-900
import Head from "./Head.astro";
import Header from "./BlogHeader.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description?: string;
  article?: {
    published_time: Date;
  };
}

const { title, description, article } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={description} article={article} />

  <body>
    <Header />
    <div class="container">
      <slot />
    </div>
    <div class="footer-container">
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --lightgray: rgb(228, 230, 235);
    --header-height: 60px;
    --table-of-contents-padding: 80px;
    --main-width: 550px;
    --layout-gap: 80px;
    --aside-width: 300px;
    --content-width: auto;

    @media (min-width: 1010px) {
      --content-width: calc(
        var(--main-width) + var(--aside-width) + var(--layout-gap)
      );
    }
  }

  * {
    box-sizing: border-box;
  }
</style>

<style>
  body {
    font-family: "Figtree Variable", sans-serif;
  }

  .container {
    display: flex;
    justify-content: center;
    padding: 80px 0;
  }

  .container,
  .footer-container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f8f7f2;
  }
</style>

<style is:global>
  footer {
    padding: 40px 0;
    width: var(--content-width);
  }
</style>
