---
import { Image } from "astro:assets";
import Popover from "./Popover.astro";

export interface Props {
  title: string;
  logo: any;
}

const { title, logo } = Astro.props as Props;
---

<Popover title={title}>
  <div class="content">
    <figure>
      <Image
        src={logo}
        alt={title}
        width={300}
        height={300}
        densities={[1, 2]}
      />
    </figure>

    <slot />
  </div>
</Popover>

<style>
  .content {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: scroll;
  }

  figure {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 900px) {
    .content {
      grid-template-columns: 1.2fr minmax(500px, 2fr);
    }
  }
</style>
