---
import "@fontsource/cutive-mono";
import "@fontsource-variable/figtree"; // Supports weights 300-900
import "@fontsource-variable/maven-pro"; // Supports weights 400-900
import Head from "./Head.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} />

  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --nav-height: 50px;
    --lightgray: rgb(228, 230, 235);
  }

  html {
    font-family: "Cutive Mono", monospace;
  }

  body > section,
  footer {
    --vertical-padding: 80px;
    --horizontal-padding: 20px;

    @media (min-width: 650px) {
      --horizontal-padding: 40px;
    }

    padding: var(--vertical-padding) var(--horizontal-padding);
    padding-right: calc(var(--horizontal-padding) + var(--nav-height));

    @media (min-width: 650px) {
      padding-right: calc(var(--horizontal-padding) * 2 + var(--nav-height));
    }

    border-bottom: 1px dashed lightgray;

    & > h1 {
      margin-bottom: 2em;
      font-size: 1.7em;
    }

    & > h1::after {
      content: "_";
    }

    article {
      width: calc(100vw - var(--horizontal-padding) * 2 - var(--nav-height));
    }
  }

  @media screen and (min-width: 650px) {
    body > section,
    footer {
      & > h1 {
        font-size: 1.5em;
      }

      article {
        width: auto;
      }
    }
  }
</style>
